body {
    background-image: url(/images/background.jpg);
    font-family: Arial, Helvetica, sans-serif;
}

nav {
    margin-left: 100px;
    margin-top: 30px;
}

nav a {
    text-decoration-line: none;
}

.circulo-raio {
    display: flex;
}

.circle {
    width: 257px;
    margin-top: 180px;
    margin-left: 475px;
}

.valor-raio p {
    margin-top: 250px;
    margin-left: 48px;
    font-size: 24px;
}

.valor-raio input {
    border-radius: 10px;
    padding: 10px;
    margin-top: 20px;
    margin-left: 100px;

}

